#Configuration info
[Project Info]
    Project = 206B1

[sHDR]
    #operation mode     operation_mode     LogicalCameraId
    Mode[0]        =     0x80A3;            0                #MOVIE VIDEO
    Mode[1]        =     0x80A4;            0                #MOVIE VIDEO EIS


[OemCamSensorSettingMap]
    #operation mode     operation_mode     sensor_mask        feature_mask      index
    Mode[0]         =     0x8019;            0x0002;            0x0000;           1  #NIGHT   FRONT
    Mode[1]         =     0x800b;            0x0002;            0x0008;           3  #VIDEO   FRONT
    Mode[2]         =     0x800d;            0x0002;            0x0008;           2  #SLOM MOTION  FRONT
    Mode[3]         =     0x800c;            0x0002;            0x0000;           1  #TIME LAPSE  FRONT
    Mode[4]         =     0x8007;            0x0002;            0x0000;           1  #PANO  FRONT
    Mode[5]         =     0x8019;            0x0001;            0x0000;           2  #NIGHT  REAR
    Mode[6]         =     0x8011;            0x0001;            0x0000;           5  #PORTRAIT  REAR
    Mode[7]         =     0x8011;            0x0004;            0x0000;           1  #PORTRAIT  REAR_AUX
    Mode[8]         =     0x80a6;            0x0010;            0x0000;           0  #SUPER MACRO
    Mode[9]         =     0x8009;            0x0001;            0x0000;           1  #Professional REAR
    Mode[10]        =     0x8007;            0x0001;            0x0000;           1  #PANO REAR
    Mode[11]        =     0x800c;            0x0001;            0x0000;           4  #TIME LAPSE REAR
    Mode[12]        =     0x800b;            0x0001;            0x0008;           4  #VIDEO   REAR
    Mode[13]        =     0x800b;            0x0004;            0x0008;           0  #VIDEO   REAR_AUX
    Mode[14]        =     0x80a3;            0x0004;            0x0008;           0  #Movie WIDE CAMERA No EIS
    Mode[15]        =     0x80a3;            0x0001;            0x0008;           4  #Movie REAR CAMERA No EIS
    Mode[16]        =     0x80a4;            0x0004;            0x0008;           0  #Movie WIDE With EIS
    Mode[17]        =     0x80a4;            0x0001;            0x0008;           4  #Movie REAR With EIS
    Mode[18]        =     0x80a8;            0x0001;            0x0000;           2  #STAR MODE  REAR

###LogicalCameraConfiguration begin
[LogicalCameraConfiguration]
    NumOfLogicalCamera = 7
    LogicalCamera[0] = SingleWideCameraConfiguration
    LogicalCamera[1] = SingleFrontCameraConfiguration
    LogicalCamera[2] = SingleUltraWideCameraConfiguration
    LogicalCamera[3] = SingleMonoCameraConfiguration
    LogicalCamera[4] = SingleMacroCameraConfiguration
    LogicalCamera[5] = RTBUWWCameraConfiguration
    LogicalCamera[6] = RTBWMCameraConfiguration

[SingleWideCameraConfiguration]
    logicalCameraId    = 0
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleWideCameraDeviceInfo
    primarySensorID    = 0
    oemCameraType      = 0

[SingleWideCameraDeviceInfo]
    sensorId               = 0
    CameraRole             = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true

[SingleFrontCameraConfiguration]
    logicalCameraId    = 1
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleFrontCameraDeviceInfo
    primarySensorID    = 2
    oemCameraType      = 1

[SingleFrontCameraDeviceInfo]
    sensorId               = 2
    CameraRole             = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true

[SingleUltraWideCameraConfiguration]
    logicalCameraId    = 2
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleUltraWideCameraDeviceInfo
    primarySensorID    = 1
    oemCameraType      = 2

[SingleUltraWideCameraDeviceInfo]
    sensorId               = 1
    CameraRole             = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true

[SingleMonoCameraConfiguration]
    logicalCameraId    = 3
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleMonoCameraDeviceInfo
    primarySensorID    = 3
    oemCameraType      = 13

[SingleMonoCameraDeviceInfo]
    sensorId               = 3
    CameraRole             = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true

[SingleMacroCameraConfiguration]
    logicalCameraId    = 4
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleMacroCameraDeviceInfo
    primarySensorID    = 4
    oemCameraType      = 17

[SingleMacroCameraDeviceInfo]
    sensorId               = 4
    CameraRole             = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true

[RTBUWWCameraConfiguration]
    logicalCameraId    = 5
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBUWCameraDeviceInfo
    deviceInfo[1]      = RTBWCameraDeviceInfo
    primarySensorID    = 0
    oemCameraType      = 8

[RTBUWCameraDeviceInfo]
    sensorId               = 1
    CameraRole             = 1
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    alwaysOn               = true

[RTBWCameraDeviceInfo]
    sensorId               = 0
    CameraRole             = 2
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    alwaysOn               = true

[RTBWMCameraConfiguration]
    logicalCameraId    = 6
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBUWCameraDeviceInfo1
    deviceInfo[1]      = RTBWCameraDeviceInfo1
    primarySensorID    = 0
    oemCameraType      = 15

[RTBUWCameraDeviceInfo1]
    sensorId               = 3
    CameraRole             = 1
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    alwaysOn               = true

[RTBWCameraDeviceInfo1]
    sensorId               = 0
    CameraRole             = 2
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    alwaysOn               = true

###LogicalCameraConfiguration end

[SupportedImageSizes]
#                   width   height
ImageSizes[0]   =   9248;   6944
ImageSizes[1]   =   8000;   6000
ImageSizes[2]   =   7680;   5760
ImageSizes[3]   =   7680;   4320
ImageSizes[4]   =   7296;   5472
ImageSizes[5]   =   7296;   4112
ImageSizes[6]   =   7296;   3280
ImageSizes[7]   =   6560;   4928
ImageSizes[8]   =   6000;   6000
ImageSizes[9]   =   5472;   5472
ImageSizes[10]  =   4928;   4928
ImageSizes[11]  =   4608;   3456
ImageSizes[12]  =   4608;   2592
ImageSizes[13]  =   4608;   2080
ImageSizes[14]  =   4000;   3000
ImageSizes[15]  =   4000;   2250
ImageSizes[16]  =   4000;   1800
ImageSizes[17]  =   3840;   2160
ImageSizes[18]  =   3456;   3456
ImageSizes[19]  =   3648;   2736
ImageSizes[20]  =   3280;   2460
ImageSizes[21]  =   3264;   2448
ImageSizes[22]  =   3264;   1836
ImageSizes[23]  =   3264;   1472
ImageSizes[24]  =   3200;   2400
ImageSizes[25]  =   3000;   3000
ImageSizes[26]  =   2592;   1944
ImageSizes[27]  =   2448;   2448
ImageSizes[28]  =   2400;   1080
ImageSizes[29]  =   2160;   1080
ImageSizes[30]  =   2304;   1728
ImageSizes[31]  =   1920;   1440
ImageSizes[32]  =   1920;   1080
ImageSizes[33]  =   1600;   1200
ImageSizes[34]  =   1600;   720
ImageSizes[35]  =   1440;   1080
ImageSizes[36]  =   1280;   960
ImageSizes[37]  =   1024;   768
ImageSizes[38]  =   1280;   720
ImageSizes[39]  =   1200;   1200
ImageSizes[40]  =   1080;   1080
ImageSizes[41]  =    800;   400
ImageSizes[42]  =    720;   480
ImageSizes[43]  =    640;   640
ImageSizes[44]  =    640;   480
ImageSizes[45]  =    352;   288
ImageSizes[46]  =    320;   240
ImageSizes[47]  =    176;   144

[OemFpsRangeSettingMap]
    #                     fps_head     fps_tail
    OemFpsRange[0] =         7 ;          30
    OemFpsRange[1] =        15 ;          15
    OemFpsRange[2] =        30 ;          30

[EISTypeMatching]
    #VideoEisMode    captureMode  sensor_mask
    Mode[0]      =     0x800B;      0xFFFF       #COMMON VIDEO REAR EIS
    Mode[1]      =     0x8021;      0xFFFF       #60FPS VIDEO
    Mode[2]      =     0x80A2;      0xFFFF       #NIHGT VIDEO
    Mode[3]      =     0x80A4;      0x0005       #MOVIE EIS
    Mode[4]      =     0x8028;      0x0005       #SUPER EIS and SUPER EIS Max

[EngCamSensorSettingMap]
    #                  operation_mode   sensor_mask   feature_mask   index
    Mode[0]        =      0x0;            0xFFFF;        0x0000;       0;
    Mode[1]        =      0x0;            0x0002;        0x0000;       1;
    Mode[2]        =      0x0;            0x0001;        0x0000;       5;

[BokehConfigureInformation]
    RearBokehImgSizeList           = 4608; 3456; 2304; 1728
    RearMonoBokehImgSizeList       = 4608; 3456; 1600; 1200
    RWMCaliSize = 2048
    RWMDualCaliPath   = /mnt/vendor/persist/camera/dual_calibration/stereoParams.bin
    RWMDualCaliPathAS = /mnt/vendor/persist/camera/dual_calibration/stereoParams.bin
    BkWMDualCaliPath  = /odm/etc/camera/stereoParams.bin

[ArcsoftAfterSaleCalibration]
    useBackUpCalibrationData = TRUE
    binCount                 = 1

[RectifyNode]
    DCDataType = arcsoft

[UsecaseMatching]
    #ExtentVideoStream     usage     dataspace     streamformat   bufferformat
    ExtentVideoStream =   0x83;     0x8c20000;      0x23;         3

[QuadCFAPreCorrectionActiveArraySizeMap]
#The QuadCFAActiveArraySize obtained from the XML configuration file needs to be corrected by the default size
#                                               width    height
    quadCFAPreCorrectionActiveArraySize    =    4624;     3472;
    defaultActiveArraySize                 =    4608;     3456;

[CtsCamSensorSettingMap]
    #                  cts_mode         sensor_mask   index
    Mode[0]        =    0x0001;            0x0001;       1;

[CTSActiveArraySize]
    #                     width   height
    activearraysize    =   4608;   3456

[AECCapbility]
    #OemCamAECControlVendorID  0:OPPO, 1:realme
    OemCamAECControlVendorID = 1

[SupportedCustomImageSizes]
    #                   width   height
    ImageSizes[0]    =   9248;   6944
    ImageSizes[1]    =   9248;   6936
    ImageSizes[2]    =   8000;   3632
    ImageSizes[3]    =   7296;   5472
    ImageSizes[4]    =   7296;   4112
    ImageSizes[5]    =   7296;   3280
    ImageSizes[6]    =   6560;   4928
    ImageSizes[7]    =   6560;   2952
    ImageSizes[8]    =   6560;   3690
    ImageSizes[9]    =   6528;   4896
    ImageSizes[10]   =   6528;   3672
    ImageSizes[11]   =   6528;   2938
    ImageSizes[12]   =   5472;   5472
    ImageSizes[13]   =   4928;   4928
    ImageSizes[14]   =   4896;   4896
    ImageSizes[15]   =   4208;   1920
    ImageSizes[16]   =   4624;   3468
    ImageSizes[17]   =   4608;   3456
    ImageSizes[18]   =   4608;   2592
    ImageSizes[19]   =   4608;   2080
    ImageSizes[20]   =   3456;   3456
    ImageSizes[21]   =   2520;   1080